body{
  background-color: #3a3a3a;
  color: #e2bdbd;
  font-size: 30px;
  font-family: 'PT Sans Narrow', sans-serif;
  letter-spacing: 2px;
}



.container{
  max-width: 500px;
  padding: 15px 15px 400px;
  margin: 0 auto;
}
.paragraph{
  margin-bottom: 15px;
  max-width: 500px;
  background-color:#3f4444;
  border-radius: 5px;
  padding-left: 5px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
}
.block-reverse .paragraph{
  box-shadow: none;
}
.input{
  text-align: center;
  max-width: 120px;
  border-radius: 5px;
  padding: 0 10px;
}
.input::placeholder{
  color: #dfdfdf;
  font-size: 22px;
}
.acent-color{
  background-color: #625251;
}
.button{
  background-color: #bb775e;
  color: #ebd4d4;
  border-radius: 5px;
  padding: 10px 25px 12px;
  line-height: 100%;
  margin-right: 25px;
}

.button:active{
  background-color: #9a6450;
  transform: scale(0.99);
}

.block-reverse{
  background-color: #625251;
  padding: 5px;
  margin-bottom: 15px;
  border-radius: 5px;
   box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
}
.button-reverse{
  margin-bottom: 15px;
}


.acent{
  background-color: #e3c5c5;
  padding: 0 5px;
  border-radius: 5px;
  color: #3e2723;
}

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}


.margin-bottom-0{
  margin-bottom: 0;
}

@media(max-width: 500px){
  .paragraph{
    flex-direction: column;
    padding-bottom: 5px;
  }
  .button{
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
}

@media(max-width: 350px){
  body{
    font-size: 26px;
  }
}

